<div class="bg-fuchsia-800 text-white mt-10 w-1/4 mx-auto">
    <h1>Formulario de contacto</h1>
    <div class="mx-auto  text-center">
        <form [formGroup]="Formulario" (submit)="send()">
            <!-- input nombres -->
            <div class="my-5 p-3">
                <label for="name" class="block pb-2">Nombres </label>
                <input type="text" id="name" formControlName="name" class="py-1 px-3 text-black rounded">
            </div>
            <div *ngIf="valido">
                <p>{{respuesta}} </p> 
            </div>
        </form>
    </div>

</div>